<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Order of customer {{ customer.name }}</title>
</head>
<body>
    <h1>Order of customer {{ customer.name }}</h1>
    
    <h2>Продукты в заказах за неделю</h2>
    {% for product in orders_week %}
        <p>Товары: {{ product }}</p>
        {% for product in order %}
        <p>Название товара: {{product.name}}</p>
        <P>Описание товара: {{product.description}}</p>
        <p>Цена товара: {{product.price}}</p>
        {% endfor %}
    {% endfor %}

    <h2>Продукты в заказах за месяц</h2>
    {% for product in orders_month %}
        <p>Товары: {{ product }}</p>
        {% for product in order %}
        <p>Название товара: {{product.name}}</p>
        <P>Описание товара: {{product.description}}</p>
        <p>Цена товара: {{product.price}}</p>
        {% endfor %}
    {% endfor %}

    <h2>Продукты в заказах за год</h2>
    {% for product in orders_year %}
        <p>Товары: {{ product }}</p>
        {% for product in order %}
        <p>Название товара: {{product.name}}</p>
        <P>Описание товара: {{product.description}}</p>
        <p>Цена товара: {{product.price}}</p>
        {% endfor %}
    {% endfor %}  
</body>
</html>